@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    background-color: whitesmoke;
    padding: 0;
    margin:50px;
}

nav{
    background-color: cornflowerblue;
    opacity: 0.8;
    display:flex;
    justify-content: space-between;
    padding-left: 500px;
    width:100vw;
}
 nav > ul > li{
    display: inline-block;
    padding: 15px;
    text-align: center;
}
#_header{
    opacity: 0.8;
    background-image:url("../Assets/IMG_3982-1.jpg");
    background-size:cover;
    background-position: center center;
    height:fit-content;
}
#_header > .dheader{
    padding-top: 100px;
}
#_header > .dheader > .text{
    padding-left: 150px;
    font-size: 36px;
    color: blue;
}
.myworks{
    display: flex;
    justify-content: space-around;
    background-color: lemonchiffon;
}
#project > h2{
    text-align: center;
    padding-right: 30px;
}
.wjames{
    display:flex;
    justify-content: space-between;
}
.wjames > .about-img{
    display: inline-block;
    border-radius: 150px;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
.wjames > .about-txt{
    padding-right: 200px;
    padding-top: 100px;
}



